# Postgress settings should be in /services/api/.env file (NOT in /repository/progresdb/.env)
PGHOST="127.0.0.1"
PGPORT="5432"
PGUSER="username"
PGPASSWORD="password"
PGDATABASE="database_name"

# ISDEV environment parameter for switching to development
ISDEV=DEV # for development remove for production